$base-colors: (
  'background': #A50,
  'border': #888
);

@function color($key) {
  @return map-get($base-colors, $key);
}

@function mix-up($color, $level: 0) {
  @return mix($color, #FFf, $level);
}

@function mix-down($color, $level: 0) {
  @return mix($color, #777, $level);
}

* {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: color('background');
  margin-top: 0;
}

table {
  border-radius: 30px;
  border-spacing: 0;
  padding: 40px 0;
  width: 100%;
}

table {
  border: 1px solid color('border');
}

tr.even {
  background-color: mix-up(color('border'), 50%);
}

.container {
  background-color: #FFF;
  border-radius: 0px 0px 50px 50px;
  box-shadow: 0 0 40px;
  padding: 40px;
  width: 1000px;
}

.content {
  width: 800px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.text-centered {
  text-align: center;
  margin: 10px;
}
